<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <SettingsCategory>Smart Firefight</SettingsCategory>
  <ExtinguishFiresTouchingHomeArea>Extinguish fires touching home area</ExtinguishFiresTouchingHomeArea>
  <ExtinguishFiresTouchingHomeArea_Desc>When a group of fires expands into home area, extinguish it all</ExtinguishFiresTouchingHomeArea_Desc>
  <MaxFireDistance>Maximum distance between fires</MaxFireDistance>
  <MaxFireDistance_Desc>Maximum distance between fires to be considered a part of the same fire group</MaxFireDistance_Desc>
</LanguageData>