<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <SmartFirefight.SettingsCategory>Smart Firefight</SmartFirefight.SettingsCategory>
  <SmartFirefight.ExtinguishFiresTouchingHomeArea>Тушить огонь, касающийся домашней области</SmartFirefight.ExtinguishFiresTouchingHomeArea>
  <SmartFirefight.ExtinguishFiresTouchingHomeArea_Desc>Когда группа очагов огня растпространяется на домашнюю область, тушить её целиком</SmartFirefight.ExtinguishFiresTouchingHomeArea_Desc>
  <SmartFirefight.MaxFireDistance>Максимальное расстояние между очагами огня</SmartFirefight.MaxFireDistance>
  <SmartFirefight.MaxFireDistance_Desc>Максимальное расстояние между очагами огня, которые будут считаться частью одной группы</SmartFirefight.MaxFireDistance_Desc>
</LanguageData>